.btn {
    max-width: fit-content;
    border-radius: 30px;
    background-color: #00d5ab;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, 
    border-color 0.2s ease-in-out;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    &:hover {
        transition: 0.5s;
        background-color: #00d5aad8;
    }
    .btn-text {
        color: #ffffff;
        font-size: 18px;
        font-family: 'Arial',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 600;
    }
    .btn-vector {
        background: #fff;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 10px;
        img {
            width: 8px;
        }
    }
}