.MuiFormControlLabel-label {
    font-size: 16px;
    font-family: 'FiraSans',Arial,sans-serif;
    color: #5e6d75;
}

//Change style default
.css-1ps6pg7-MuiPaper-root {
    padding: 5px !important;
    box-shadow: none !important;
    border: none !important;
}

.css-189e9pj-MuiButtonBase-root-MuiButton-root {
    background-color: $colorBg;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 16px;
}

#demo-radio-buttons-group-label{
    font-size: 18px;
    font-family: 'FiraSans',Arial,sans-serif;
}

.title-accordion {
    font-size: 22px !important;
}

.css-9l3uo3 {
    font-size: 18px !important;
    font-family: FiraSans,Arial,sans-serif !important;
    line-height: 1.55 !important;
    font-weight: 400 !important;
}

.accordion-block {
    margin-top: 15px !important;
    border-radius: 30px !important;
    &::before {
        height: 0px !important;
    }
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type {
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}