nav {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-size: 20px;
        }
        &__link {
            a {
                margin-right: 15px;
            }
        }
        &__contact {
            display: flex;
            align-items: center;
        }
        &__mobile-menu {
            position: relative;
            display: flex;
            flex-direction: column;
        }
        &__mobile-menu-link {
            position: absolute;
            width: max-content;
            top: 40px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            padding: 15px;
            background: #fff;
            box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
            a {
                width: 100%;
                margin-bottom: 15px;
                transition: 0.3s;
            }
        }
        .show-menu {
            cursor: pointer;
            animation: 1s show-menu ease-in-out;
        }
        .outside-block {
            width: 100vw;
            height: 100vh;
            margin-left: -30px;
            padding-left: 30px;
            position: absolute;
        }
    }
}

.nav-up {
    position: relative;
    animation: nav-up 0.5s ease-in-out;
}

@keyframes nav-up {
    0% { transform: translateY(0px);}
    100% { transform: translateY(-80px); }
}

.nav-down {
    position: relative;
    animation: nav-down 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.09);
}

@keyframes nav-down {
    0% { transform: translateY(-80px);}
    100% { transform: translateY(0px); }
}

@keyframes show-menu {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}