footer {
    background: #5e6d75;
    height: 30vh;
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        max-width: 400px;
        height: 100%;
        p {
            color: #fff;
            font-size: 24px;
        }
        .footer__link {
            display: flex;
            justify-content: space-around;
            width: 100%;
            a {
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 50%;
            }
        } 
        span {
            color: #fff;
            font-size: 18px;
            a {
                color: #2df8f8;
            }
        }
    }
}