.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.imgAvatar {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


.close {
  height: 30%;
  display: flex;  
  width: 100%;
  justify-content: center;
  background: #c5c5c5;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.close:hover {
  opacity: 0.5;
}

.avatarBlock {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.avatarAdd {
  // background: url('../../assets/images/plus-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 100;
  opacity: 0.4;
  transition: 0.3s;
}
