.modal {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    &__content {
        padding: 20px;
        border-radius: 12px;
        background: #fff;
        width: 30%;
        min-width: 400px;
        position: relative;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__paper {
        position: relative;
    }
    form {
        overflow-y: scroll;
        max-height: 65vh;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        &::-webkit-scrollbar {
            width: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(184, 184, 185);    /* цвет плашки */
            border-radius: 20px; 
        }
        button {
            margin-top: 10px;
        }
        .form-conditionality {
            margin-top: 10px;
            input[type='checkbox'] {
                margin-right: 10px;
                margin-left: 3px;
                transform: scale(1.4);
            }
            a {
                text-decoration: underline;
            }
            fieldset {
                border: none !important;
            }
        }  
    }
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            transform: rotate(45deg);
        }
    }
    &__typography {
        margin-bottom: 20px;
    }
    .modal-status {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__text {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 22px;
            text-align: center;
        }
    }

}    
.active {
    transform: scale(1);
}