.titleblock {
    color: #182f39;
    font-size: 50px;
    font-family: 'FiraSans',Arial,sans-serif;
    line-height: 1.1;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}